div.game {
    --cell-size: 5px;
    background: red;
}

div.game div.world {
    background: green;
    position: relative;
}

div.game div.tail {
    width: 0;
    height: 0;
}

div.game div.reward {
    background: red;
}

div.game div {
    background: orange;
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
}
