body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.game {
    --cell-size: 10px;
    position: relative;
    left: 0;
    top: 0;
}

div.game div {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: calc(var(--cell-size)/2);
}

div.game div.world, div.game div.rewards, div.game div.tail {
    width: 100%;
    height: 100%;
}

div.game div.world {
    background-size: cover;
}

.reward {
    background: red;
}


.plane {
    background: orange;
}

.tail-part {
    background: orange;
}
